:root {
    --bgcolour: #FFFFFF;
    --fgcolour: #E5E5E5;
    --primary-colour: #FCA311;
    --secondary-colour: #14213D;
    --textColor: #000000;
}

.styled-table{
    border-collapse: collapse;
    margin: 10px ;
    font-size: 0.9em;
    min-width: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    
}

.styled-table thead tr {
    background-color: var(--primary-colour);
    text-align: center;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid var(--fgcolour);
}

.styled-table tbody tr:last-of-type {
    border-bottom: none;
}