:root{
    --bgcolour: #FFFFFF;
    --fgcolour: #E5E5E5;
    --primary-colour: #FCA311;
    --secondary-colour: #14213D;
    --textColor: #000000;
}

body{
    background-color: var(--bgcolour);
    padding: 5px;
 
}